.Mange__User td {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

/*.Mange__User tr{
    margin-bottom: 20px;
} */

.Mange__User table {
  width: 100%;
  border-collapse: collapse;
}

.Mange__User thead {
  background: linear-gradient(
    0deg,
    #3853a4 0%,
    rgba(56, 83, 164, 0.858042) 53.13%,
    rgba(56, 83, 164, 0.55) 100%
  );
  border-radius: 4px;
  /* padding: 21px 13px; */
  color: #fff;
}

.Mange__User thead th {
  margin-bottom: 20px;
}

.Mange__User td {
  padding: 12px 0;
  text-align: left;
  box-sizing: border-box;
}

.Mange__User th {
  padding: 12px;
}

.Mange__User tr:nth-child(even) {
}

.Mange__User tr:not(:first-child) {
  margin-top: 20px;
}

.node__info tr th,td {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 0;
  background: linear-gradient(
    0deg,
    rgba(56, 83, 164, 0.2) 0%,
    rgba(56, 83, 164, 0.171608) 53.13%,
    rgba(56, 83, 164, 0.11) 100%
  );
}
table thead th,
td {
  font-family: "Commissioner", sans-serif;
}
