.login_container {
  max-width: 806px;
  margin: auto;
  padding: 64px 83px 92px;
  background: #ffffff;
  box-shadow: 0px 1px 45px -8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.font_family {
  font-family: "Outfit";
}
.key {
  position: relative;
}
.key::after {
  position: absolute;
  content: "";
  height: 1px;
  line-height: 20px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222222;
}
